/* ===== */
/* FONTS */
/* ===== */
@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-ExtraLight.ttf");
  font-weight: 200;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Outfit";
  src: url("Outfit/static/Outfit-Black.ttf");
  font-weight: 900;
}

/* ==== */
/* REST */
/* === */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page-wrapper {
  display: flex;
  min-block-size: 100dvh;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.main {
  padding: 0.8rem;
  max-inline-size: clamp(300px, 90%, 600px);
  background-color: #fff;
  border-radius: 1.25rem;
}

/* ============= */
/* MAIN ELEMENTS */
/* ============= */
.main__image {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 0.75rem;
}

.main__title,
.main__description {
  margin-block-start: 1.25rem;
  text-align: center;
}

.main__title {
  font-size: clamp(22px, calc(22px + (3 * ((100vw - 320px) / 65))), 25px);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin-inline: auto;
  color: hsl(218, 44%, 22%);
}

.main__description {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  margin-inline: auto;
  margin-block-end: 1.3rem;
  max-inline-size: 25ch;
  color: hsl(216, 15%, 48%);
}

@media (min-width: 387px) {
  .main {
    max-inline-size: 320px;
  }
}
